.hero-banner {
  position: relative;
  height: 100vh;
  width: 100vw; /* Changed from 1525px to 100vw */
  background-position: center;
  background-size: cover;
  z-index: 1;
  overflow: hidden; 
}

.hero-content {
  position: absolute;
  bottom: 20%;
  left: 4%;
  max-width: 600px;
  padding: 20px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.hero-description {
  line-height: 1.3;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  margin-top: 1rem;
}

.hero-fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  position: absolute;
  bottom: 0;
  width: 100%;
}